@use "service_social_media_superior_config" as config;

.container-service-social-media-superior {
    background-image: url("../../../../../images/components/services/socialMediaSuperior/background/background-social-media-superior.webp");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top center;
    @media (min-width: config.$breakpoint-md) {
        background-size: "cover";
        background-position: left center;
    }
}
