@use "contact_config" as config;

.container-contact {
  background-image: url("../../../../images/components/contact/background-contacto.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;

  @media (min-width: config.$breakpoint-md) {
    background-position: right top;
  }
}
