@use "campaigns_config" as config;


.container-service-campaigns{
  background-image: url("../../../../images/services/campaigns/background/background-campanas.webp");
  background-size: "cover";
  background-repeat: no-repeat;
  background-position: right center;

  @media (min-width: config.$breakpoint-md) {
    background-position: left center;
  }
}
