.container-service-campaigns{
  background-image: url("../../../../images/services/campaigns/background/background-campanas.webp");
  background-size: "cover";
  background-repeat: no-repeat;
  background-position: left center;
}
