@use "service_social_media_superior_config" as config;


.container-service-social-media-superior{
  background-image: url("../../../../images/services/socialMediaSuperior/background/background-social-media-superior.webp");
  background-size: "cover";
  background-repeat: no-repeat;
  background-position: right center;

  @media (min-width: config.$breakpoint-md) {
    background-position: left center;
  }
}
