@use "campaigns_config" as config;

.container-service-campaigns {
    background-image: url("../../../../../images/components/services/campaigns/background/background-campanas.webp");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top center;

    @media (min-width: config.$breakpoint-md) {
        background-size: "cover";
        background-position: left center;
    }
}
