@use "brand_design_config" as config;


.container-service-brand-design{
  background-image: url("../../../../../images/components/services/brandDesign/background/background-diseno-de-marca.webp");
  background-size: "cover";
  background-repeat: no-repeat;
  background-position: right center;

  @media (min-width: config.$breakpoint-md) {
    background-position: left center;
  }
}
