@use "contact_config" as config;

.container-origin {
  background-image: url("../../../images/contact/background-contacto.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;

  @media (min-width: config.$breakpoint-md) {
    background-position: left center;
  }
}
