//Fonts
@font-face {
    font-family: Jaapokkisubtract-Regular;
    src: url("/fonts/jaapokkisubtract-regular.ttf");
}

.font-family-jaapokkisubtract {
    font-family: "Jaapokkisubtract-Regular";
}

@font-face {
    font-family: FreeSans;
    src: url("/fonts/free-sans.ttf");
}

.font-family-free-sans {
    font-family: "FreeSans";
}

@font-face {
    font-family: Helvetica;
    src: url("/fonts/helvetica.ttf");
}

.font-family-helvetica {
    font-family: "Helvetica";
}

@font-face {
    font-family: Montserrat;
    src: url("/fonts/montserrat.ttf");
}

.font-family-montserrat {
    font-family: "Montserrat";
}

