.container-service-social-media{
  background-image: url("../../../../images/services/socialMedia/background/background-social-media.webp");
  background-size: "cover";
  background-position: "center";
}
